/*footer*/
.textP{
    margin : 10px;
}
.text-white{
    text-decoration: none;
}
/*section 2*/
.icon a{
    text-decoration: none;
    color: black;    
}
#javascrip{
    background-color: yellow;
    color:black;
    border-radius: 9px;
    padding: 0 5px;
}
#react{
    background-color: aqua;
    color:white;
    border-radius: 9px;
    padding: 0 5px;
}
#negocios{
    background-color: gray;
    color:white;
    border-radius: 9px;
    padding: 0 5px;
}
#startup{
    background-color: red;
    color:white;
    border-radius: 9px;
    padding: 0 5px;
}
/*section-3*/
.fondoB{
    background-color: rgb(58, 56, 56);
}
/*section 4 */
.h6-form{
    font-size: 0.8rem;
}
.bcolor{
    background-color: rgb(148, 199, 60)!important;
}
.puntos{
    text-decoration: underline dotted;
} 
